{
  "env": {
    "node": true,
    "es6": true,
    "jasmine": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "semi": ["error", "always"]
  }
}
