{
  "env": {
    "jasmine": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "node",
    "jasmine"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:jasmine/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "node/no-unpublished-require": [0],
    "semi": ["error", "always"]
  }
}
