{
  "env": {
    "jasmine": true,
    "node": true
  },
  "plugins": [
    "node",
    "jasmine"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:jasmine/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
